@media only screen and (min-width: 600px) {
  body {
    background-color: #111111;
    overflow-x: hidden;
    color: white;
  }

  .dark-mode {
    background-color: lightblue;
    color: white;
  }

  .darkmodeswitchMobile {
    display: none;
  }

  .Head {
    margin-top: -3%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Head2 {
    margin-top: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .AvatarImg {
    height: 95%;
    border-radius: 40%;
    /* margin-top: 5%; */
  }

  .section1 {
    height: 100vh;
    width: 100vw;
  }

  .section2 {
    margin-top: 30%;
    height: 100vh;
    width: 100vw;
  }

  section {
    height: 105vh;
    width: 100vw;
  }

  #Section3 {
    height: 140vh;
    width: 100vw;
  }

  #Section4 {
    margin-top: 140%;
    height: 100vh;
  }

  #Section5 {
    margin-top: 5%;
    height: 80vh;
  }

  #typing-text {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: -40%;
    font-size: 230%;
    padding-right: 12%;
    font-family: "Press Start 2P", cursive;
  }

  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
    font-size: 250%;
    font-family: "Press Start 2P", cursive;
  }

  h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    font-family: "Press Start 2P", cursive;
  }

  .homeP {
    display: flex;
    align-items: center;
    justify-content: right;
    /* margin-left: auto; */
    margin-right: 3%;
    font-family: "Press Start 2P", cursive;
    width: 44%;
    font-size: 90%;
    line-height: 2;
    padding-right: 5%;
    text-align: center;
    padding: 15px;
    /* background-color: #222; */
    border-radius: 25px;
  }

  p {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin-left: auto;
    margin-right: auto;
    font-family: "Press Start 2P", cursive;
    width: 65%;
    font-size: 90%;
    line-height: 2;
    text-align: center;
  }

  .bntClass {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ScrollButtonHome {
    position: relative;
    /* margin: 0; */
    padding: 0.8em 1em;
    outline: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: right;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    background-color: #333;
    border-radius: 10px;
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    margin-right: -43%;
    font-family: "Press Start 2P", cursive;
    z-index: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  }

  .ScrollButton {
    position: relative;
    margin: 0;
    padding: 0.8em 1em;
    outline: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    background-color: #333;
    border-radius: 10px;
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    font-family: "Press Start 2P", cursive;
    z-index: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  }

  .ScrollButton:hover,
  .ScrollButtonHome:hover {
    animation: sh0 0.5s ease-in-out both;
  }

  @keyframes sh0 {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }

    25% {
      transform: rotate(7deg) translate3d(0, 0, 0);
    }

    50% {
      transform: rotate(-7deg) translate3d(0, 0, 0);
    }

    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }

  .ScrollButton:hover span,
  .ScrollButtonHome:hover span {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
  }

  .ScrollButton::before,
  .ScrollButton::after,
  .ScrollButtonHome::before,
  .ScrollButtonHome::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
    opacity: 0;
    transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1),
      opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
    z-index: -1;
    transform: translate(100%, -25%) translate3d(0, 0, 0);
  }

  .ScrollButton:hover::before,
  .ScrollButton:hover::after,
  .ScrollButtonHome:hover::before,
  .ScrollButtonHome:hover::after {
    opacity: 0.15;
    transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1),
      opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
  }

  .ScrollButton:hover::before,
  .ScrollButtonHome:hover::before {
    transform: translate3d(50%, 0, 0) scale(0.9);
  }

  .ScrollButton:hover::after,
  .ScrollButtonHome:hover::after {
    transform: translate(50%, 0) scale(1.1);
  }

  .Code {
    display: flex;
    justify-content: center;
    gap: 10%;
    flex-wrap: wrap;
  }
  .CodeSub {
    height: auto;
    width: calc(30% / 3 - 20px);
    margin: 10px;
  }

  .darkmodeswitch {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 2%;
    margin-right: 4%;
  }

  .toggle-switch {
    position: relative;
    width: 100px;
    height: 50px;
    --light: #d8dbe0;
    --dark: #333;
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
  }

  .switch-label {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #333;
    border-radius: 25px;
    cursor: pointer;
    border: 3px solid var(--dark);
  }

  .checkbox {
    position: absolute;
    display: none;
  }

  .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .checkbox:checked ~ .slider {
    background-color: var(--light);
    --light: #87ceeb;
    --dark: yellow;
    margin-top: -3%;
    margin-left: -5%;
    width: 111%;
    height: 111%;
  }

  .slider::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
    box-shadow: inset 12px -4px 0px 0px var(--light);
    background-color: var(--dark);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .checkbox:checked ~ .slider::before {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    background-color: var(--dark);
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .card {
    background-color: #222;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .card-content {
    padding: 10px;
    color: #fff;
  }

  .card-content h2 {
    margin-top: 1;
    flex-wrap: wrap;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 95%;
    font-family: "Press Start 2P", cursive;
  }

  .card-content ul {
    margin: 10px 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: bottom;
    justify-content: center;
  }

  .card-content ul li {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 10px;
    color: #e7af1e;
    font-family: "Press Start 2P", cursive;
  }

  .buttonSpacing {
    display: flex;
    align-items: bottom;
    justify-content: center;
    margin-bottom: -2%;
  }

  .button {
    font-family: "Press Start 2P", cursive;
    font-size: 1rem;
    color: #fafafa;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #fafafa;
    background: #252525;
    box-shadow: 3px 3px #fafafa;
    cursor: pointer;
    margin: 35px 0;
  }

  .button:active {
    box-shadow: none;
    transform: translate(3px, 3px);
  }

  .projects {
    margin-bottom: 10%;
  }

  #ButtonHidden3 {
    margin-top: 2%;
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .cursor {
    display: inline-block;
    width: 2px;
    height: 1em;
    background-color: #000;
    animation: blink 1s infinite;
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }

  #typing-text::after {
    content: "|";
    opacity: 1;
    animation: blink 1s infinite;
  }

  .items div {
    scroll-snap-align: center;
  }

  .items {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }

  .HomeRBmain {
    border: darkgoldenrod 2px solid;
    border-radius: 15px;
    padding: 25px;
    /* height: 50vh; */
  }

  .ImageProject {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* RB */
  .RedAndBlueHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
  }

  .RB_Image {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 5px; */
    width: 100%;
    gap: 5%;
  }

  .RedAndBlueHeader img {
    height: 15vh;
  }

  .RB_Image img {
    height: 40vh;
    border: solid 3px white;
    border-radius: 15px;
  }

  .RB_video {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .RB_video video {
    height: 100%;
    border: solid 3px white;
    border-radius: 15px;
    width: 75%;
  }

  .Red {
    color: red;
  }

  .Blue {
    color: blue;
  }

  .Cyan {
    color: cyan;
  }
}
