body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-6xl: 25px;

  /* Colors */
  --color-gray-100: rgba(26, 22, 22, 0.9);
  --color-white: #fff;
  --color-black: #000;

  /* Paddings */
  --padding-4xs: 9px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-8xs: 5px;
}
