@media screen and (min-width: 500px) {
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #3D0000;
    display: grid;
    place-items: center;
    overflow-x: hidden;
  }

  .header {
    overflow: hidden;
    background-color: #950101;
    padding: 20px 10px;
    width: 99vw;
  }

  .header a {
    float: left;
    color: white;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
  }

  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }

  .LogoHaydo {
    float: left;
    width: 10%;
  }

  .header a:hover {
    background-color: #FF0000;
    color: white;
  }

  .header a.active {
    background-color: #FF0000;
    color: white;
  }

  .header-right {
    float: right;
  }

  .vidgrid {
    display: grid;
    width: 95vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "milyon muhtar"
      "miras texas"
      "padisahin karakol"
      "solo ."
    ;
    gap: 5vh;
  }

  h2 {
    color: white;
  }

  video {
    height: 375px;
    width: 100%;
    border-radius: 25px;
    background-color: black;
  }

  .Milyon {
    text-align: center;
    margin-top: 5%;
    grid-area: milyon;
  }


  .Muhtar {
    text-align: center;
    margin-top: 5%;
    grid-area: muhtar;
  }

  .Miras {
    text-align: center;
    grid-area: miras;
  }

  .Texas {
    text-align: center;
    grid-area: texas;
  }

  .Padisahin {
    text-align: center;
    grid-area: padisahin;
  }

  .Karakol {
    text-align: center;
    grid-area: karakol;
  }

  .Solo {
    text-align: center;
    grid-area: solo;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #3D0000;
  overflow-x: hidden;
}

.header {
  overflow: hidden;
  background-color: #950101;
  padding: 20px 10px;
  width: 100%;
}

.header a {
  float: none;
  color: white;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
  display: block;
  text-align: left;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.LogoHaydo {
  float: left;
  width: 10%;
}

.header a:hover {
  background-color: #FF0000;
  color: white;
}

.header a.active {
  background-color: #FF0000;
  color: white;
}

.header-right {
  float: none;
}

video {
  height: 25vh;
  width: 100%;
  border-radius: 25px;
  background-color: black;
}

h2 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}